
   $blue__light: #00d4ff;
   $blue__medium: #3b91e0;
   $blue__dark: #318be0;
   $backgroudn__gray: #f7f7f7;
   $white:#fff;
   $black: #000;
   $text__gray: #777;
   $underline__gray: #eee;
   $yellow: #E3C031;
   $red: #ff0000;
   
   $transition: all .4 ease;
