/***** Header button *****/
.btn:link,
.btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    transition: all 0.2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
}

.btn--yellow {
    background-color: $yellow;
    color: $blue__dark;
    border-radius: 100px;
}

.btn--white {
    background-color: $white;
    color: $text__gray;
    border-radius: 100px;
}

.btn--blue {
    background: linear-gradient(to right bottom, $blue__light, $blue__medium, $blue__dark);
    color: $white;
    border-radius: 100px;
}

.btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn--yellow::after {
    background-color: $yellow;
}

.btn--white::after {
    background-color: $white;
}

.btn:hover::after {
    transform:  scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInBottom .5s ease-out .75s backwards;
}
