.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .95);
    z-index: 111;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;

    &:target {
        visibility: visible;
        opacity: 1;
    }

    .popup__content {
        width: 75%;
        background: linear-gradient(to right bottom, $blue__light, $blue__medium, $blue__dark);
        color: $white;
        box-shadow: 2 20px 40px rgba(0,0,0, 0.2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.25);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transition: all .5s .2s;

        .popup-left {
            width: 33.333333%;
            display: table-cell;

            img {
                display: block;
                width: 100%;
            }
        }

        .popup-right {
            width: 66.666667%;
            display: table-cell;
            vertical-align: middle;
            padding: 30px 40px;

            .popup__close:link,
            .popup__close:visited {
                color: $white;
                position: absolute;
                top: 25px;
                right: 25px;
                font-size: 30px;
                display: inline-block;
                text-decoration: none;
            }

            .popup__close:link:hover,
            .popup__close:visited:hover {
                color: $blue__light;
            }   
            
            h2 {
                margin-bottom: 15px;
                text-align: center;
                font-size: 32px;
            }

            .popup__text {
                display: flex;
                gap: 60px;
                justify-content: center;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                hyphens: auto;

                a {
                    text-decoration: none;
                    color: $white;
                    cursor: pointer;
                    transition: all .3s;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .note {
                margin-top: 15px;
                text-align: center;
                line-height: 1.2;
            }

            &--button {
                text-align: center;
                margin-top: 40px;
            }
        }
    }

    &:target .popup__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }    
}



/****** MEDIA QUERIES *****/


   
@media (max-width: 1400px) {

    .popup {

        .popup__content {

            .popup-right {

                .popup__text {
                    gap: 30px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {


    /*** Section Popup ***/

    .popup {

        .popup__content {

            .popup-right {
                padding: 20px 40px;
                line-height: 1.5;

                h2 {
                    font-size: 30px;
                }

                .popup__text {

                    p {
                        line-height: 1.5;
                        font-size: 14px;
                    }
                }

                &--button {
                    margin-top: 20px;

                    a {
                        padding: 10px 30px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {

    .popup {

        .popup__content {
            display: flex;
            flex-direction: column-reverse;
            height: auto;

            .popup-left {
                width: 100%;
                display: flex;

                img {
                    display: block;
                    width: 50%;
                }
            }

            .popup-right {
                width: 100%;
                display: block;
                margin: auto;

                h2 {
                    margin-top: 40px;
                }

                .popup__text {
                    gap: 60px;
                }

                &--button {
                    margin-top: 40px;
                }
            }
        }
    }
}

@media (max-width: 860px) {

    .popup {

        .popup__content {
            height: auto;
            overflow: visible;
        }
    }
}



@media (max-width: 680px) {

/*** Section Popup ***/

    .popup {

        .popup__content {
            height: auto;
            overflow: visible;
            width: 75%;

            popup-right {
                display: flex;
                flex-direction: column;
                margin: auto;
                width: 100%;

                .popup__close:link,
                .popup__close:visited {
                    top: 20px;
                    right: 20px;
                    font-size: 25px;
                }

                h2 {
                    margin-top: 20px;
                }

                .popup__text {
                    flex-direction: column;
                    gap: 15px;
                    align-self: center;
                }

                &--button {
                    margin-top: 20px;
                }
            
            }
        }
    }
}

@media (max-width: 560px) {

/*** Section Popup ***/

    .popup  {

        .popup__content {
            width: 80%;

            .popup-left {
                display: none;
            }

            .popup-right {

                h2 {
                    margin: 10px 0;
                }

                .note {
                    margin-top: 10px;
                }

                .popup__close:link,
                .popup__close:visited {
                    top: 0;
                    right: 15px;
                }
            }
        }
    }
}

@media (max-width: 460px) {

    /*** Section Popup ***/

    .popup .popup__content .popup-right 

    .popup {

        .popup__content {

            .popup-right {

                h2 {
                    font-size: 26px;
                }

                .popup__close:link,
                .popup__close:visited {
                    top: 10px;
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 420px) {

/*** Section Popup ***/

    .popup {

        .popup__content {

            .popup-right {

                h2 {
                    font-size: 22px;
                }

                .popup__text {
                    font-size: 14px;

                    p {
                        font-size: 13px;
                    }
                }

                .note {

                    small {
                        font-size: 12px;
                    }
                }

                &--button {
                    margin: 15px 0;

                    a {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {

    .popup {

        .popup__content {

            .popup-right {

                h2 {
                    font-size: 18px;
                }
            }

            &--left {

                a {
                    font-size: 14px;

                }
            }

            &--right {

                .info-side {
                    font-size: 14px;
                }
            }

            &--quote {

                p{
                    font-size: 26px;
                }
            }
        }
    }
}
